save-exact=true
 
# salva a versão exata das dependências do projeto

# utilizar bots do github (renovate) - tenta atualizar as dependências do projeto e roda os testes pra verificar se o projeto continua funcionando após atualizações. caso os testes passem, o bot cria uma PR dizendo que pode atualizar a versão da dependência. caso falhem, o bot diz qual teste falhou